.find-card__block_heading {
    text-align: center;

    h5 {
        margin: 0 auto 30px;
    }
}

.library-card__form {
    input {
        border-radius: 10px;
        background: $color-light;
        border: none;
        outline: none;
        width: 520px;
        height: 66px;
        padding: 10px 20px;
        margin-bottom: 25px;
        @include media-tabletsmall{
            width: 100%;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.card-user__info {
    .library__title {
        margin-bottom: 28px;
    }
}

.library-card__form {
    border: 3px solid $color-additional;
    background: $color-light;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px 18px 29px;
}

.card-user__info {
    display: flex;
    flex-direction: column;
    background-color: $color-additional;
    padding: 20px 20px 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.card-user__button-block {
    text-align: center;
    padding: 20px 20px 0;
}

.library-card__content {
    &>* {
        flex-basis: 40%;

    }

    @include media-tabletlg {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

}

.login-block {
    text-align: right;

    @include media-tabletlg {
        text-align: center;
        padding-top: 20px;
    }

    .login-block__description {
        @include font-inter;
        // font-size: 20px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0.4px;
        text-transform: none;
        padding: 30px 0 35px 90px;

        @include media-tabletlg {
            padding: 30px 0 35px;
            width: 70%;
            margin: 0 auto;
        }
    }
}

.login-block__buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    @include media-tabletlg {
        justify-content: center;
    }

    .button {
        margin-left: 20px;

        &:first-child {
            margin-left: 0;
        }
    }
}