.favorites__radio-block {
    margin-left: -5px;
}

.radio-block__list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;

    @include media-tabletsmall {
        flex-direction: column;
    }
}

.radio_item {
    label {
        display: flex;
        padding: 0;
        cursor: pointer;
    }

    input[type="radio"] {
        opacity: 0;
        -webkit-appearance: none;
        appearance: none;
    }

    .value {
        position: relative;
        display: flex;
        align-items: center;
        padding: 3px 90px 3px 40px;
        overflow: hidden;
        letter-spacing: normal;
        font-size: 20px;
        &::before {
            content: "";
            position: absolute;
            left: 10px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            outline-offset: 3px;
            outline: 2px solid $color-dark;
        }

        &::after {
            content: "";
            position: absolute;
            left: 10px;
            top: -15px;
            width: 7px;
            height: 7px;
            border-radius: 50%;
            transition: 0.2s;
        }
    }

    &:last-child {
        .value {
            padding-right: 0;
        }
    }
}



input[type="radio"]:checked~.value {
    color: $color-dark;
    transition: 0.4s;
    font-weight: 700;
}

input[type="radio"]:checked~.value::after {
    top: 11px;
    background: $color-dark;
    animation: shake .15s 2;
}




@keyframes shake {
    0% {
        transform: translateY(0);
    }

    25% {
        transform: translateY(5px);
    }

    50% {
        transform: translateY(0);
    }

    75% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}